*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'HannaPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

:root {
  --font-baemin-hanna: 'HannaPro', 'Apple SD Gothic Neo', sans-serif;
}

body {
  font-family: var(--font-baemin-hanna);
  background-color: #f0f0f0;
  min-height: 100vh;
}
